.creatEvent__container {
    width: 100%;
    min-height: calc(100vh - 10vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: rgb(214, 214, 214, 0.5);
}

.creatEvent__img {
    width: 10rem;
    height: 10rem;
}
.label{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin-bottom: 0.3rem;
    margin-top: 0.8rem;

}
.creatEvent__players {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin-bottom: 0.6rem;
}

.creatEvent__players-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.link{
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.creatEvent__players-btn {
    width: 25%;
    height: 1.5rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
    background: #000000;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 900;
}

.creatEvent__input {
    max-width: 30rem;
    width: 80%;
    height: 2rem;
    margin-bottom: 0.6rem;
    border-radius: 0.5rem;
    padding: 0.4rem;
    outline: none;
    border: none;
    background: #f0f0f0;
    color: #333;
    line-height: 1;
    font-size: 1.1rem;
    font-weight: 600;
}

.creatEvent__input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.creatEvent__btn {
    width: 35%;
    height: 2.5rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
    background: #b55fcf;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}
